.grid-container2 {
    display: grid;
    grid-template-columns: 120px 420px 260px 300px ;
    grid-template-rows:150px 60px 50px 70px 290px ;
    height: 550px;
    margin: 0px 128px 0px 128px;
}





.grid-container2_cell_1{
    grid-row: 2;
    grid-column: 2;
    
}

.grid-container2_cell_1>div>h2{
    font-weight: 700;
    font-size: 28px;
}

.grid-container2_cell_2{
    grid-row: 3;
    grid-column: 2;
}

.grid-container2_cell_2>div>p{
    color: #AAAAAA;
    font-weight: 400;
    font-size: 20px;   
}

.grid-container2_cell_3{
    grid-row: 4;
    grid-column: 2/4;
}

.grid-container2_cell_4{
    grid-row: 4;
    grid-column: 4;
}

.grid-container2_cell_5{
    grid-row: 5;
    grid-column: 4;
}

.grid-container2_cell_5_lable{
font-weight: 400;
font-size: 30px;
letter-spacing: 0.18em;
color: #D7D2D2;
margin-top: 239px;
}

.grid-container2_cell_5>div>button{
   
font-weight: 400;
font-size: 20px;
letter-spacing: 0.18em;
color: #D7D2D2;
margin-top: 239px;
background: white;
border-color: white;
border: 0px;
}

.grid-container2_button_sendmail{
    /* font-family: 'Inter'; */
    background: #5CC428;
    border-radius: 38px;
    color: 	white;
    font-weight: 550;
    font-size: 30px;
    border: 1.5px solid #5CC428;
    height: 65px; ;
    width: 247px;
}

.grid-container2_button_sendmail:hover{
    cursor: pointer;
}

.grid-container2_input_text{  
    /* padding:9px 20px;  */
    letter-spacing:3px;
    background:#E8E8E8	;
    border-radius: 37px;
    border:0 none;
    margin-top: 10px;
    cursor:pointer;

    font-size: 15px;
    padding-left: 31px;
    padding-right: 34px;
    width: 597px;
    height: 48px;
    font-weight:500; 
 }