.box1{   
    display: grid;
    grid-template-rows: 35px 130px 18px 22px 10px 30px;
    grid-template-columns:  1fr  190px  1fr; 
    /* margin: 0px 128px 0px 128px; */
    /* width:1903px ; */
    height: 270px;    
    box-shadow: 6px -1px 18px 1px rgba(0, 0, 0, 0.12);
}

/* 頭貼位置 */

.place1{
    grid-row: 2;
    grid-column: 2;
    margin: 0px auto;
 }

/* 提醒用戶點選頭貼可換照片位置 */

 .place2{
    grid-row: 4;
    grid-column: 2;
    margin: 0px auto;
 }

 .place2_label{

font-weight: 400;
font-size: 20px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.37px;
color: #9C9797;
margin: 0px auto;
 }
/* 刪除帳號按鈕 */
 .place3{
    grid-row: 6;
    grid-column: 2;
    margin: 0px auto;
 }

 .place3_buttom{
width: 90px;
height: 27px;
border: 1px solid #FF5858;
border-radius: 9px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 18px;
color: #F19D9D;
background: white;
padding-left: 2px;
}

 .place3_buttom:hover{
    cursor: pointer;
}

/* 資料填選區 */

.box2{
    
    display: grid;
    grid-template-columns: 1fr  290px 190px 290px  1fr  ;
    grid-template-rows: 80px 180px 180px 180px 280px;
    /* margin: 0px 128px 0px 128px; */
    height: 1000px; 
    background: #F5F5F5;
    
}

.label_look{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 18px;
letter-spacing: 0.37px;
padding-left: 10px;
margin-bottom: 13px;
border-style:solid;
border-bottom: 5px;
border-top: 5px;
border-right: 5px;
border-color: #5CC428;
}

.label_look1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.37px;
    padding-left: 10px;
    margin-bottom: 13px;
    margin-top: 10px;
    border-style:solid;
    border-bottom: 5px;
    border-top: 5px;
    border-right: 5px;
    border-color: #5CC428;
    }

.input_text_look{
width: 289px;
height: 50px;
left: 473px;
top: 531px;
background: #FFFFFF;
border: 1px solid #44475C;
border-radius: 12px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 18px;
display: flex;
align-items: center;
letter-spacing: 0.37px;
padding-left: 15px;
padding-right: 34px;
color: #5F5F5F;
}

.input_radio{
    margin-left: 5px;
}

.input_date{
    border-color:#F5F5F5;
}

.about_me{
    padding-right: 34px;
    padding-top: 10px;
    background: #FFFFFF;
    border: 1px solid #44475C;
    border-radius: 12px;
    padding-left: 15px;
    font-weight: 500;
    font-size: 22px;
    resize: none;
    align-items: center;
    letter-spacing: 0.18em;
    color: #7E7E7E;
    width:770px ;
}

.place_1{
    grid-row: 2;
    grid-column: 2;
} 

.place_2{
    grid-row: 2;
    grid-column: 4;
}

.place_3{
    grid-row: 3;
    grid-column: 2;
}

.place_4{
    grid-row: 3;
    grid-column: 4;
}

.place_5{
    grid-row: 4;
    grid-column: 2;
}

.place_6{
    grid-row: 4;
    grid-column: 4;
}

.place_7{
    grid-row: 5;
    grid-column: 2/5;
}

.place_8{
    grid-row: 6;
    grid-column: 2/5;
}

.input_button{
    background: #5CC428 ;
    border-radius: 38px;
    color: 	#FCFCFC;
    font-size:20px;
    font-weight:bold;
    height: 65px; ;
    width: 770px;
    border: 1.5px solid #5CC428;
}

